.m-0,
.mt-0 {
  margin-top: 0 !important;
}
.m-0,
.mb-0 {
  margin-bottom: 0 !important;
}
.m-0,
.ms-0 {
  margin-left: 0 !important;
}
.m-0,
.me-0 {
  margin-right: 0 !important;
}
.my-0,
.m-0,
.mt-0 {
  margin-top: 0 !important;
}
.my-1,
.m-1,
.mt-1 {
  margin-top: 0.25rem !important;
}
.my-2,
.m-2,
.mt-2 {
  margin-top: 0.5rem !important;
}
.my-3,
.m-3,
.mt-3 {
  margin-top: 1rem !important;
}
.my-4,
.m-4,
.mt-4 {
  margin-top: 1.5rem !important;
}
.my-5,
.m-5,
.mt-5 {
  margin-top: 3rem !important;
}
.my-0,
.m-0,
.mb-0 {
  margin-bottom: 0 !important;
}
.my-1,
.m-1,
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.my-2,
.m-2,
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.my-3,
.m-3,
.mb-3 {
  margin-bottom: 1rem !important;
}
.my-4,
.m-4,
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.my-5,
.m-5,
.mb-5 {
  margin-bottom: 3rem !important;
}
.mx-0,
.m-0,
.ms-0 {
  margin-left: 0 !important;
}
.mx-1,
.m-1,
.ms-1 {
  margin-left: 0.25rem !important;
}
.mx-2,
.m-2,
.ms-2 {
  margin-left: 0.5rem !important;
}
.mx-3,
.m-3,
.ms-3 {
  margin-left: 1rem !important;
}
.mx-4,
.m-4,
.ms-4 {
  margin-left: 1.5rem !important;
}
.mx-5,
.m-5,
.ms-5 {
  margin-left: 3rem !important;
}
.mx-0,
.m-0,
.me-0 {
  margin-right: 0 !important;
}
.mx-1,
.m-1,
.me-1 {
  margin-right: 0.25rem !important;
}
.mx-2,
.m-2,
.me-2 {
  margin-right: 0.5rem !important;
}
.mx-3,
.m-3,
.me-3 {
  margin-right: 1rem !important;
}
.mx-4,
.m-4,
.me-4 {
  margin-right: 1.5rem !important;
}
.mx-5,
.m-5,
.me-5 {
  margin-right: 3rem !important;
}
.p-0,
.pt-0 {
  padding-top: 0 !important;
}
.p-0,
.pb-0 {
  padding-bottom: 0 !important;
}
.p-0,
.ps-0 {
  padding-left: 0 !important;
}
.p-0,
.pe-0 {
  padding-right: 0 !important;
}
.py-0,
.p-0,
.pt-0 {
  padding-top: 0 !important;
}
.py-1,
.p-1,
.pt-1 {
  padding-top: 0.25rem !important;
}
.py-2,
.p-2,
.pt-2 {
  padding-top: 0.5rem !important;
}
.py-3,
.p-3,
.pt-3 {
  padding-top: 1rem !important;
}
.py-4,
.p-4,
.pt-4 {
  padding-top: 1.5rem !important;
}
.py-5,
.p-5,
.pt-5 {
  padding-top: 3rem !important;
}
.py-0,
.p-0,
.pb-0 {
  padding-bottom: 0 !important;
}
.py-1,
.p-1,
.pb-1 {
  padding-bottom: 0.25rem !important;
}
.py-2,
.p-2,
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.py-3,
.p-3,
.pb-3 {
  padding-bottom: 1rem !important;
}
.py-4,
.p-4,
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.py-5,
.p-5,
.pb-5 {
  padding-bottom: 3rem !important;
}
.px-0,
.p-0,
.ps-0 {
  padding-left: 0 !important;
}
.px-1,
.p-1,
.ps-1 {
  padding-left: 0.25rem !important;
}
.px-2,
.p-2,
.ps-2 {
  padding-left: 0.5rem !important;
}
.px-3,
.p-3,
.ps-3 {
  padding-left: 1rem !important;
}
.px-4,
.p-4,
.ps-4 {
  padding-left: 1.5rem !important;
}
.px-5,
.p-5,
.ps-5 {
  padding-left: 3rem !important;
}
.px-0,
.p-0,
.pe-0 {
  padding-right: 0 !important;
}
.px-1,
.p-1,
.pe-1 {
  padding-right: 0.25rem !important;
}
.px-2,
.p-2,
.pe-2 {
  padding-right: 0.5rem !important;
}
.px-3,
.p-3,
.pe-3 {
  padding-right: 1rem !important;
}
.px-4,
.p-4,
.pe-4 {
  padding-right: 1.5rem !important;
}
.px-5,
.p-5,
.pe-5 {
  padding-right: 3rem !important;
}
.cursor-pointer {
  cursor: pointer;
}
.align-middle {
  vertical-align: middle !important;
}
.text-start {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}
.text-light {
  color: #fff;
}
.text-dark {
  color: #000;
}
.text-primary {
  color: #007cba;
}
.text-success {
  color: #008000;
}
.text-warning {
  color: #ffff00;
}
.text-danger {
  color: #ff0000 !important;
}
.bg-light {
  background: #fff;
}
.bg-dark {
  background: #000;
}
.bg-primary {
  background: #007cba;
}
.bg-success {
  background: #008000;
}
.bg-warning {
  background: #ffff00;
}
.bg-danger {
  background: #ff0000 !important;
}
.w-50 {
  width: 50% !important;
  display: inline-block;
}
.w-100 {
  width: 100% !important;
}
.btn {
  border-radius: 5px;
}
.w-unset {
  width: unset !important;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.vertical-align-top {
  vertical-align: top !important;
}
.vertical-align-middle {
  vertical-align: middle !important;
}
.vertical-align-baseline {
  vertical-align: baseline !important;
}
.vertical-align-bottom {
  vertical-align: bottom !important;
}
.vertical-align-sub {
  vertical-align: sub !important;
}
.justify-content-start {
  justify-content: left;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.border-0 {
  border: none !important;
}
.fw-normal {
  font-weight: normal !important;
}
.fw-bold {
  font-weight: bold !important;
}
.disabled {
  background: #868686;
  pointer-events: none;
}
.w-5 {
  width: 5% !important;
}
.w-10 {
  width: 10% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-95 {
  width: 95% !important;
}
.w-100 {
  width: 100% !important;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td {
  display: inline-block !important;
}
.form-control {
  width: 24rem;
}
.opacity-none {
  opacity: 0;
  pointer-events: none;
}
#posttype_longtext_field_ifr {
  height: 300px !important;
}
